@import "tailwindcss";
* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --InkBlack: #020314;
  --ElectricIndigo: #5932e6;
  --Cream: #F2F6D0;
  --HyperMagenta: #b332e6;
  --NeonViolet: #e032e6;
  --LightGreen: #FFBE0B;
}
